.layout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-main-content-container {
    flex-grow: 1;
    overflow-y: auto;
}

.layout-notes-container {
    display: none;
}

@media screen and (min-width: 994px) {
    .layout-container {
        flex-direction: row;
    }

    .layout-main-content-container {
        width: 50%;
    }

    .layout-notes-container {
        display: block;
        height: 100%;
        width: 40%;
        flex-grow: 1;
    }
}
