.ideas-component-container {
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.ideas-container-heading {
    color: #FFFFFF;
    font-size: 36px;
    font-family: Jura;
    font-weight: 800; 
    margin-bottom: 10px;  
}

.ideas-container-description-text {
    color: #BDBDBD;
    font-size: 18px;
    font-family: Jura;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ideas-component-form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.ideas-component-form-text-input-box {
    height: 300px;
    width: 100%;
    background-color: #0A0A0A;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Jura;
    font-weight: 500;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    outline: none;
    padding: 14px;
    margin-bottom: 10px;
}

.idea-character-counter {
    color: #BDBDBD;
    font-size: 16px;
    font-family: Jura;
    font-weight: 500;
    margin-bottom: 20px;
    align-self: flex-end;
}

.ideas-component-form-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.save-idea-button {
    background-image: linear-gradient(#007BFF, #0056B3);
    height: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Jura;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.post-now-button {
    background-image: linear-gradient(#00C853, #009624);
    height: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Jura;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.your-ideas-list-heading {
    color: #FFFFFF;
    font-size: 24px;
    font-family: Jura;
    font-weight: 800;
    margin-bottom: 30px;
}

.empty-idea-list-text {
    color: #BDBDBD;
    font-size: 20px;
    font-family: Jura;
    font-weight: 800;
    text-align: center;
}

.ideas-list-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (min-width: 768px) {
    .ideas-component-container {
        border-left: 1px solid #BDBDBD;
    }
}