.mobile-topbar-container {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #808080;
    padding: 14px;
}

.mobile-topbar-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.mobile-icon {
    color: #FFFFFF;
    font-size: 26px;
}

.logout-mobile-icon {
    color: #FF0000;
    font-size: 26px;
}

.mobile-logo-text {
    color: #FFFFFF;
    font-family: Montez;
    font-size: 28px;
    font-weight: 500;
}

.mobile-menu-drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 60%;
    background-color: #000000;
    border-right: 2px solid #808080;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 10;
    padding: 24px 24px 24px 10px;
}

.mobile-menu-drawer.open {
    transform: translateX(0);
}

.mobile-menu-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.mobile-menu-item-link {
    text-decoration: none;
}

.mobile-menu-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.active-mobile-menu-item {
    background-image: linear-gradient(#007BFF, #0056B3);
}

.mobile-menu-item-icon {
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 8px;
}

.mobile-menu-item-text {
    color: #FFFFFF;
    font-size: 20px;
    font-family: Jura;
    font-weight: 600;
}

.mobile-menu-drawer-close-button {
    align-self: center;
    width: 100%;
    background-image: linear-gradient(#007BFF, #0056B3);
    color: #ffffff;
    font-size: 16px;
    font-family: Jura;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9;
}

.desktop-sidebar-container {
    background-color: #000000;
    height: 100%;
    width: 20%;
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-right: 2px solid #808080;
}

.desktop-logo-text {
    width: 100%;
    color: #FFFFFF;
    font-family: Montez;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 2px solid #808080;
}

.desktop-menu-container {
    width: 100%;
    list-style-type: none;
    margin-top: 20px;
    flex-grow: 1;
}

.desktop-menu-item-link {
    text-decoration: none;
}

.desktop-menu-item {
    color: #FFFFFF;
    font-family: Jura;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.active-desktop-menu-item {
    background-image: linear-gradient(#007BFF, #0056B3);
}

.desktop-menu-item-icon {
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 12px;
}

.desktop-logout-button {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    font-family: Jura;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

@media screen and (min-width: 994px) {
    .mobile-topbar-container {
        display: none;
    }

    .mobile-menu-drawer {
        display: none;
    }

    .overlay-container {
        display: none;
    }
}

@media screen and (max-width: 994px) {
    .desktop-sidebar-container {
        display: none;
    }
}