.edit-profile-container {
    width: 100%;
    min-height: 100%;
    background-color: #000000;
    padding: 20px;
}

.edit-profile-container-heading {
    color: #FFFFFF;
    font-family: Jura;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

.edit-profile-container-description-text {
    color: #BDBDBD;
    font-family: Jura;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    overflow: auto;
    scrollbar-width: none;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-field-container-label-text {
    color: #EEEEEE;
    font-family: Jura;
    font-size: 24px;
    font-weight: 600;
}

.form-field-container-input-box {
    background-color: #1A1A1A;
    min-height: 50px;
    width: 100%;
    color: #EEEEEE;
    font-family: Jura;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 10px 14px 10px 14px;
}

.user-bio-input-box {
    background-color: #1A1A1A;
    height: 200px;
    width: 100%;
    color: #EEEEEE;
    font-family: Jura;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 10px 14px 10px 14px;
}

.user-bio-character-counter {
    color: #BDBDBD;
    font-family: Jura;
    font-size: 18px;
    font-weight: 500;
}

.edit-profile-form-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}

.edit-profile-save-button {
    background-image: linear-gradient(#007BFF, #0056B3);
    color: #FFFFFF;
    font-family: Jura;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.edit-profile-cancel-button {
    background-image: linear-gradient(#6c757d, #495057);
    color: #FFFFFF;
    font-family: Jura;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}