.profile-component-container {
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
}

.profile-header-container {
    border-bottom: 1px solid #BDBDBD;
    padding: 20px;
}

.user-avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 14px;
}

.profile-edit-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username-initial-container {
    background-color: #9ACD32;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 26px;
    font-family: Montez;
    font-weight: 800;
    border-radius: 50%;
}

.edit-profile-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
}

.edit-profile-button-icon {
    color: #BDBDBD;
    font-size: 24px;
}

.profile-actions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    flex-grow: 1;
    padding: 10px;
}

.follow-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.follow-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.follow-label {
    color: #BDBDBD;
    font-family: Jura;
    font-size: 20px;
    font-weight: 500;
}

.follow-count {
    color: #BDBDBD;
    font-family: Jura;
    font-size: 30px;
    font-weight: 800;
}

.follow-button {
    background-image: linear-gradient(#007BFF, #0056B3);
    color: #FFFFFF;
    font-family: Jura;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 0 10px 0;
}

.unfollow-button {
    background-color: transparent;
    color: #FFFFFF;
    font-family: Jura;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 0 10px 0;
}

.profile-user-fullname {
    color: #FFFFFF;
    font-family: Jura;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 4px;
}

.profile-username {
    color: #007BFF;
    font-family: Jura;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.profile-user-bio {
    color: #EEEEEE;
    font-family: Jura;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.profile-user-profession {
    color: #BDBDBD;
    font-family: Jura;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.profile-user-social-link {
    color: #00FFFF;
    font-family: Jura;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.profile-user-join-date {
    color: #BDBDBD;
    font-family: Jura;
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

.user-posts-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-posts-text {
    color: #BDBDBD;
    font-family: Jura;
    font-size: 24px;
    font-weight: 800;
}

.user-profile-posts-container {
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .username-initial-container {
        height: 100px;
        width: 100px;
        font-size: 42px;
    }

    .edit-profile-button-icon {
        font-size: 30px;
    }

    /* .profile-actions-container {
        min-width: 50%; 
        max-width: 50%;
    } */

    .profile-user-fullname {
        font-size: 30px;
    }

    .profile-username {
        font-size: 24px;
    }

    .profile-user-bio {
        font-size: 22px;
    }

    .profile-user-profession {
        font-size: 20px;
    }

    .profile-user-social-link {
        font-size: 22px;
    }

    .profile-user-join-date {
        font-size: 20px;
    }

    .no-posts-text {
        font-size: 30px;
    }
}