.sign-up-container {
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.sign-up-card-container {
  background-color: #0A0A0A;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.sign-up-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sign-up-logo-text {
  color: #FFFFFF;
  font-family: Montez;
  font-size: 32px;
  font-weight: 500;
}

.sign-up-text {
  color: #FFFFFF;
  font-family: Jura;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.sign-up-welcome-text {
  color: #BDBDBD;
  font-family: Jura;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.sign-up-form-container {
  width: 100%;
}

.sign-up-form-container-heading {
  display: none;
}

.sign-up-form-container-text {
  display: none;
}

.form {
  width: 100%;
}

.sign-up-form-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1A1A1A;
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 14px;
}

.sign-up-form-icon {
  color: #BDBDBD;
  font-size: 20px;
}

.sign-up-form-input-box {
  height: 40px;
  width: 100%;
  background-color: #1A1A1A;
  color: #BDBDBD;
  font-family: Jura;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 10px;
}

.sign-up-form-show-password-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.sign-up-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background: linear-gradient(#007BFF, #0056B3);
  color: #EEEEEE;
  font-family: Jura;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 20px 0 20px 0;
  box-shadow: 0 2px 2px #000000;
}

.sign-up-desktop-container {
  display: none;
}

.sign-up-desktop-container-heading {
  color: #FFFFFF;
  font-family: Jura;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 12px;
}

.sign-up-desktop-container-text {
  color: #FFFFFF;
  font-family: Jura;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.sign-up-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-text {
  color: #FFFFFF;
  font-family: Jura;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.sign-up-message-text {
  color: #BDBDBD;
  font-family: Jura;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.sign-in-navigation-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #007BFF;
  font-family: Jura;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.sign-up-developer-text {
  color: #BDBDBD;
  font-family: Jura;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}

.sign-up-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .sign-up-container {
    height: 100vh;
    padding: 50px;
  }

  .sign-up-card-container {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
  }

  .sign-up-mobile-view-container {
    display: none;
  }

  .sign-up-form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 0 50px;
  }

  .sign-up-form-container-heading {
    display: block;
    color: #FFFFFF;
    font-family: Jura;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px;
  }

  .sign-up-form-container-text {
    display: block;
    color: #BDBDBD;
    font-family: Jura;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }

  .form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sign-up-form-field-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .sign-up-form-icon {
    font-size: 24px;
  }

  .sign-up-form-input-box {
    height: 50px;
    border: none;
  }

  .sign-up-button {
    width: 30%;
    border-radius: 6px;
  }

  .sign-up-desktop-container {
    height: 100%;
    width: 40%;
    background-image: url('https://i.pinimg.com/736x/ec/63/49/ec6349719d522a68acf4ef371593e935.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 1s ease-in-out;
    opacity: 0.5;
    padding: 20px;
  }

  .sign-up-desktop-container:hover {
    font-family: Jura;
    transition: 1s ease-in-out;
    opacity: 1;
  }

  .sign-in-navigation-desktop-button {
    background-color: transparent;
    color: #EEEEEE;
    font-family: Jura;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
  }

  .desktop-navigation-link {
    text-decoration: none;
  }

  .sign-up-footer-container {
    display: none;
  }

  .forgot-password-text {
    padding: 2px;
    margin-bottom: 10px;
  }
}